
@media (min-width: 768px) {
  .header {
    max-width: calc(1110px + 2rem);
    padding-inline: 1rem;
    margin: 0 auto;
  }
  .header .header__top-section {
    padding: 4rem 0;
    align-items: center;
    justify-content: start;
  }
  .header .header__top-section::after {
    background-size: 800px 800px;
    width: 800px;
    height: 800px;
    top: -150px;
    right: -300px;
  }
  .header .header__top-section .logo .logo__image {
    width: 90px;
    margin-left: 1em;
  }
  .header .header__top-section #hamburger {
    display: none;
  }
  .header .header__top-section .primary-nav {
    position: initial;
    background: none;
    height: initial;
    width: initial;
    top: initial;
    left: initial;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  .header .header__top-section .primary-nav .primary-nav__list {
    display: flex;
    gap: 2rem;
    background: transparent;
    border-radius: 0rem;
    margin: 0;
    padding: 0rem;
  }
  .header .header__top-section .primary-nav .primary-nav__list .primary-nav__item a {
    font-weight: 400;
  }
  .header .header__top-section .primary-nav .primary-nav__list .primary-nav__item a:hover, .header .header__top-section .primary-nav .primary-nav__list .primary-nav__item a:focus {
    opacity: 0.8;
  }
  .header .header__top-section .button {
    display: block;
  }
  .header .header__bottom-section {
    text-align: left;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-template-areas: "a b";
    margin-bottom: 7.5rem;;
  }

  .header .header__bottom-section::after {
    display: none;
  }
  .header .header__bottom-section .bottom-section__image {
    padding: 0;
    grid-area: b;
  }
  .header .header__bottom-section .bottom-section__content {
    grid-area: a;
    place-items: start;
    gap: 1.5rem;
  }
  .header .header__bottom-section .bottom-section__content .bottom-section__title {
    font-size: 2rem;
    text-align: left;
    margin-left: 0.em;
  }
  .header .header__bottom-section .bottom-section__content .bottom-section__paragraph {
    padding: 0;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}


@media (min-width: 768px) {
  .main {
    margin-bottom: 11.5rem;
  }
  .main .main__top-section {
    max-width: 1160px;
    margin: 0 auto 10.8rem;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .main .main__top-section .top-section__main {
    display: block;
    text-align: left;
  }
  .main .main__top-section .top-section__main .top-section__title {
    font-size: 2.4rem;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 1.5rem;
  }
  .main .main__top-section .top-section__main .top-section__paragraph {
    font-size: 1rem;
    max-width: 24rem;
    line-height: 1.7;
    padding-inline: 1.8rem;
  }
  .main .main__top-section .top-section__details .details__list {
    display: grid;
    gap: 2.4rem;
  }
  .main .main__top-section .top-section__details .details__list .details__item {
    display: grid;
    -moz-column-gap: 1.7rem;
         column-gap: 1.7rem;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "a b" ". c";
  }
  .main .main__top-section .top-section__details .details__list .details__item .item__title {
    grid-area: b;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .main .main__top-section .top-section__details .details__list .details__item .item__title .item__marker {
    grid-area: a;
  }
  .main .main__top-section .top-section__details .details__list .details__item .item__text {
    grid-area: c;
    line-height: 1.65;
    font-size: 1rem;
    padding: 0;
    margin-right: 0.5rem;
  }
  .main .main__bottom-section {
    margin-bottom: 0;
    position: relative;
  }
  .main .main__bottom-section::after {
    position: absolute;
    content: "";
    width: 800px;
    height: 800px;
    top: -390px;
    left: -500px;
    z-index: -1;
  }
  .main .main__bottom-section .testimonials_title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .main .main__bottom-section .swiper {
    padding: 3rem 1rem 1rem;
    margin-bottom: 0rem;
  }
  .main .main__bottom-section .swiper .swiper-wrapper .swiper-slide {
    padding-top: 4.8rem;
    padding-bottom: 2.6rem;
    position: relative;
    background-color: hsl(278, 31%, 93%);
    margin-bottom: 0rem;
  }
  .main .main__bottom-section .swiper .swiper-wrapper .swiper-slide .slide__avatar {
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%);
    width: 5rem;
    border-radius: 50%;
    border: 2px solid rgb(190, 146, 247);
  }
  .main .main__bottom-section .swiper .swiper-wrapper .swiper-slide .slide__name {
    color: hsl(228, 39%, 23%);
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .main .main__bottom-section .swiper .swiper-wrapper .swiper-slide .slide__quote {
    font-size: 0.85rem;
  }
  .main .main__bottom-section .swiper .swiper-pagination {
    display: none;
  }
}


@media (min-width: 768px) {
  .footer .footer__top-section {
    background-image: url(/assets/Background.svg);
    background-size: cover;
    background-position: bottom;
  }
  .footer__title span {
    margin-bottom: 0;
    color: black;
  }
  .footer .footer__top-section .top-section__wrapper .footer__title {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color: hsl(0, 0%, 5%);
  }
  .footer .footer__bottom-section {
    background-color: hsl(270, 100%, 100%);
  }

  .nav__list  {
    display: flex;
    list-style: none;
    gap: 1em;
  }
  .footer .footer__bottom-section .bottom-section__wrapper .bottom-section__nav .nav__list {
    font-weight: 200;
    font-size: 0.9rem;
  }

  .footer .footer__bottom-section .bottom-section__wrapper .bottom-section__copy {
    color: #808080;
    text-align: left;
    font-size: 0.75rem;
    text-align: center;
  }
  .footer-section__image{
    width:70%;
    height: 70%;
    display: flex;
    flex-direction: left;
    margin-right: 10em;
    margin-bottom: 1em;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 2em;
    gap: 0.5em;
    font-size: 1rem;
  }  
}

@media (min-width: 820px){
  .footer .footer__top-section {
    background-image: url(/assets/Background.svg);
    background-size: cover;
    background-position: bottom;
  }
  .footer__title span {
    margin-bottom: 0;
    color: black;
  }
  .footer .footer__top-section .contact-form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 30em;
    gap: 0.5em;
    font-size: 1rem;
  }
  
}


@media (min-width: 1024px) {
  .footer .footer__top-section {
    background-image: url(/assets/Background.svg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow: hidden;
  }
  .footer__title h2{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-bottom: 0;
  }
  .footer-section__image{
    width:50em;
  }
  .footer .footer__top-section .contact-form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 30em;
    gap: 0.5em;
    font-size: 1rem;
  } 
}
@media (min-width: 1280px) {
  .footer .footer__top-section {
    background-image: url(/assets/Background.svg);
    background-size: cover;
 
  }
  .footer__title h2{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-bottom: 0;
  }
  .footer .footer__top-section .contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
    border: none;
    width: 30em;
    gap: 0.5em;
    font-size: 1rem;
  }
  
}

@media (min-width: 1920px) {
  .footer .footer__top-section {
    height: 50em;
    background-image: url(/assets/Background.svg);
    background-size: cover;
  }
  .footer__title h2{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-bottom: 0;
  }
  .footer .footer__top-section .contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 26em;
    border: none;
    width: 30em;
    gap: 0.5em;
    font-size: 1rem;
  }
  
}
